[submodule "modules/perl-charclass"]
	path = modules/perl-charclass
	url = git://github.com/wakaba/perl-charclass.git
[submodule "modules/manakai"]
	path = modules/manakai
	url = git://github.com/wakaba/manakai.git
[submodule "modules/perl-weburl"]
	path = modules/perl-weburl
	url = git://github.com/wakaba/perl-weburl.git
[submodule "modules/perl-test-moremore"]
	path = modules/perl-test-moremore
	url = git://github.com/wakaba/perl-test-moremore.git
[submodule "modules/testdataparser"]
	path = modules/testdataparser
	url = git://github.com/wakaba/testdataparser.git
